version: "3"
services:
  tiny:
    build: ./faucet/Dockerfile
    environment:
      DISCORD_API_KEY: <API_KEY>
      DAEMON_HOSTNAME: localhost
      DAEMON_PORT: 8304
      FAUCET_PUBLIC_KEY: <PUBLIC_KEY> 
    volumes: 
      - ./faucet:/code
    command: 
      python3 tiny.py
  
  # Service not configured for Docker bridge networking yet.
  # echo:
  #   build: ./echo-service/Dockerfile
  #   environment:
  #     PORT: <DAEMON_PORT>
  #     FEE: 5
  #     PUBLIC_KEY: <PUBLIC_KEY>
  #   volumes: 
  #     - ./faucet:/code
  #   command: 
  #     python3 tiny.py

  coda:
    image: coda-docker:latest
    ports: 
      - "8302:8302"
      - "8303:8303/udp"
      - "8304:8304"
    command: 
      daemon -peer <TESTNET_NAME>.o1test.net:8303 -rest-port 8304 -external-port 10101 -metrics-port 10000 -insecure-rest-server

  prom:
    image: quay.io/prometheus/prometheus:v2.0.0
    volumes:
     - ./monitor/prometheus.yml:/etc/prometheus/prometheus.yml
    command: "--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus"
    ports:
     - 9090:9090
    depends_on:
     - coda